<ActionBar title="Settings" automationText="ActionBar" class="action-bar">
    <NavigationButton (tap)="goBack()" text="Go Back"></NavigationButton>
    <ActionItem (tap)="saveChangesSettings()" padding="20" margin="30" android:text="DONE" ios:text="Done" ios.position="right"></ActionItem>
</ActionBar>
<GridLayout rows="*">
<RadDataForm row="0" tkExampleTitle tkToggleNavButton [source]="settings" [metadata]="settingsMetadata">
        <!-- Workaround for DatePicker issue -->
        <!-- https://github.com/telerik/nativescript-ui-feedback/issues/218 -->
            <TKEntityProperty tkDataFormProperty name="dateBirth" index="2">
                    <TKPropertyEditor tkEntityPropertyEditor type="DatePicker"></TKPropertyEditor>
            </TKEntityProperty>

        <!-- Workaround for default number values at 100 issue -->
        <!-- https://github.com/telerik/nativescript-ui-feedback/issues/177 -->
            <TKEntityProperty tkDataFormProperty index="4" name="loyalty" hintText="0000 0000 0000 0000" displayName="loyalty Card">
                <TKPropertyEditor tkEntityPropertyEditor type="Number"></TKPropertyEditor>
            </TKEntityProperty>

            <TKEntityProperty tkDataFormProperty index="3" name="sex" displayName="Sex" valuesProvider="Male, Female, Others">
                <TKPropertyEditor tkEntityPropertyEditor type="SegmentedEditor"></TKPropertyEditor>
            </TKEntityProperty>
</RadDataForm>
</GridLayout>
